{% extends 'base.html' %}
{% load static %}
{% block title %} LogOut {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock head_title %}

{% block content %}
<div class="container col-8 fit-content my-5 d-flex flex-column align-items-center">
    <div class="py-1 px-1 d-flex rounded bg-white fit-content mb-4">
        <img class="icon mx-2" src="{% static 'images/logout.png' %}" alt="A small icon of a door" width="10" height="10" />
        <h2 class="m-0 text-decoration-underline">{% trans '"Logout"' %}</h2>
        <img class="icon mx-2" src="{% static 'images/logout.png' %}" alt="A small icon of a door" width="10" height="10" />
    </div>
    <p>{% trans 'Are you sure you want to Log out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="sign-button bg-white p-1 rounded border border-dark" type="submit">{% trans 'Log Out' %}</button>
    </form>
</div>

{% endblock content %}
