{% extends "base_error.html" %}
{% load static %}
{% block title %} 500 Error {% endblock title %}
{% block content %}

<!-- Error section -->
<div class="row my-5">
    <section class="col-10 col-md-8 col-lg-6 mx-auto bg-white rounded pt-4">

        <!-- Heading -->
        <div class="d-flex justify-content-around">
            <img class="icon mx-2" src="{% static 'images/error.png' %}" alt="A computer with error message displayed"
                width="10" height="10" />
            <h2 class="text-decoration-underline">'Server Error'</h2>
            <img class="icon mx-2" src="{% static 'images/error.png' %}"
                alt="Another computer with error message displayed" width="10" height="10" />
        </div>

        <!-- message and link home -->
        <p class="p-4 text-center">
            Something went wrong. </p>
        <a class="nav-link mx-auto fit-content" href="{% url 'home' %}"><img class="icon pb-2" src="{% static 'images/home.png' %}" alt="Home icon"
                width="10" height="10">
            Home</span></a>
    </section>
</div>

{% endblock content %}