{% extends 'base.html' %}
{% load static %}
{% block title %} Film Detail {% endblock title %}
{% block content %}

<!-- Whole film container -->
<div class="container-fluid mx-auto">
    <div class="row film-container align-items-center p-1 mx-auto my-5">
        <div class="col-lg-4 col-md-8 mx-auto film-image-container py-lg-2 pt-4">
            <div class="film-poster-container d-flex align-items-center justify-content-between budapest-1 br flippers">

                <img class="icon bg-white bottom-left m-2 rounded" src="{{ film.first_icon.url }}"
                    alt="Icon of {{ film.title }}" width="10" height="10">
                <img class="icon bg-white bottom-right m-2 rounded" src="{{ film.second_icon.url }}"
                    alt="Icon of {{ film.title }}" width="10" height="10">
                <img src="{{ film.poster.url }}" alt="Poster for {{ film.title }}" width="100" height="100"
                    class="h-auto p-2 film-img rounded">

                <p class="sypnosis-button p-1 mt-3 bg-white text-center rounded">PRESS FOR SYNOPSIS</p>
            </div>

            <div
                class="film-info d-flex justify-content-around align-items-center rounded flex-column hidden budapest-2">
                <div class="close-cont bg-white p-0 invert-button rounded">
                    <button class="close m-0 btn">X</button>
                </div>

                <p class="blurb h-50 w-75 bg-white m-auto budapest-1 p-2 rounded">{{ film.sypnosis }}
                </p>

                <button class="trailer bg-white p-1 rounded border-0 invert-button" data-bs-toggle="modal"
                    data-bs-target="#videoModal">VIEW TRAILER</button>
            </div>
        </div>
        <div class="col-lg-8 py-2">
            <div class="row">
                <div>
                    <div class="d-flex bg-white rounded head mx-auto my-4"><img class="icon pb-lg-2"
                            src="{% static 'images/typewriter.png' %}" alt="Icon of a typewriter" width="10"
                            height="10">
                        <h2 class="ps-2 pe-2 text-decoration-underline fs-4"> WHAT THE CRITICS SAY</h2><img class="icon pb-2"
                            src="{% static 'images/typewriter.png' %}" alt="Icon of a typewriter" width="10"
                            height="10">
                    </div>

                    <div class="scroll-container-budapest scroll-container rounded snaps-inline">

                        <figure>
                            <figurecaption class="rounded">
                                DADDY
                            </figurecaption class="rounded">
                            <blockquote>
                                gggggggghhhh hbbb bbhggggg bbjj bbhgg bbfty bjuyb g vvggtfffg bhggyggy hhh
                            </blockquote>
                        </figure>

                        <figure>
                            <figurecaption class="rounded">
                                KIT
                            </figurecaption class="rounded">
                            <blockquote>
                                ghh hbbb bbhgg bb bh jp la ll mgg bbjj bbhgg bbfty bjuyb g vvffg bhggyggy hhh
                            </blockquote>
                        </figure>

                    </div>
                </div>
                <div>
                    <div class="d-flex bg-white rounded head mx-auto my-4"><img class="icon pb-lg-2"
                            src="{% static 'images/writing.png' %}" alt="Icon of a letter" width="10" height="10">
                        <h2 class="ps-2 pe-2 fs-4 text-decoration-underline"> WHAT THE MEMBERS SAY</h2><img class="icon pb-lg-2"
                            src="{% static 'images/writing.png' %}" alt="Icon of a letter" width="10" height="10">
                    </div>

                    <div class="scroll-container br scroll-container-budapest snaps-inline">

                        <figure>
                            <figurecaption>
                                Eric
                            </figurecaption>
                            <blockquote>
                                hh hbbb bbhggggg bbjj bbhgg bbfty bjuyb g vvggthyyy de dd bhggyggy hhh
                            </blockquote>
                        </figure>

                        <figure>
                            <figurecaption>
                                Mick
                            </figurecaption>
                            <blockquote>
                                ga ss fc vv jjh hbbb bbhggggg bbjj bbhgg bbfty bjuyb g vvggtfffg bhggyggy hhh
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="videoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn button-close" data-bs-dismiss="modal"
                        aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div class="ratio ratio-16x9">
                        <iframe id="iframe" src="" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}