{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

<!-- About section -->
<div class="row  mt-5">

    <section class="col-8 mx-auto bg-white rounded pt-4">
        <!-- Heading -->
        <div class="d-flex justify-content-around">
            <img class="icon mx-2" src="{% static 'images/backpack.png' %}" alt="A small icon from Moonrise Kingdom film">
            <h2 class="text-decoration-underline">'About'</h2>
            <img class="icon mx-2" src="{% static 'images/bandit.png' %}" alt="A small icon from Fantastic Mr Fox film">
        </div>
        <!-- Content -->
        <p class="p-4">The 'Works of Wes Anderson' is a place to celebrate the 
            the amazingly unique filmmaker Wes Anderson.<br>
            You can find details of each of his feature films and
            see the positive comments critics have to say about his work.<br>
            If you would like to join in you can become a member to add your
            opinion on what you love about his films and also rate 
            each quality the film has.<br>
            We hope this website reminds you how wonderful Wes Anderson is.
        </p>
    </section>

</div>

{% endblock content %}