{% extends 'base.html' %}

{% block content %}
{% load static %}
{% block title %}Home{% endblock title %}

<!-- About section -->
<div class="row  mt-5">

    <section class="col-8 mx-auto bg-white rounded pt-4">
        <!-- Heading -->
        <div class="d-flex justify-content-around">
            <img class="icon mx-2" src="{% static 'images/backpack.png' %}">
            <h2 class="text-decoration-underline">'About'</h2>
            <img class="icon mx-2" src="{% static 'images/bandit.png' %}">
        </div>
        <!-- Content -->
        <p class="p-4">Wes Anderson Is a wonj jj jj j j j ii i i iii i i ii i h
            ktmt rnrnr rnrmrr sjciuf dikrkm mieec fmeoeoe eoeocmce ceoeocm
            fmeirov enmrnopoc cnro nro vnv vngm gmmh mtmtk tmtmtk tmtmtk tmtmtk
            jfjgn ngngng ststsy kf mfmf m m m m mfmfmf mfjfjrti osoier cnod
            hfjf vnvjv nv nv fnvkd vnfif vkfo vmdf vbdlv nvif ofor vmfvorm
        </p>
    </section>

</div>

{% endblock content %}