{% extends 'base.html' %}
{% load static %}
{% block title %} Member-Area {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

<!-- About section -->
<div class="row my-5">
    <section class="col-10 col-md-8 col-lg-6 mx-auto bg-white rounded pt-4">
        <!-- Heading -->
        <div class="d-flex justify-content-around">
            <img class="icon mx-2" src="{% static 'images/member.png' %}"
                alt="A small icon of a cross keys member medal" width="10" height="10" >
            <h2 class="text-decoration-underline">'About'</h2>
            <img class="icon mx-2" src="{% static 'images/member.png' %}"
                alt="Another icon of a cross keys member medal" width="10" height="10" >
        </div>
        <!-- Content -->
        <p class="p-4 text-center">
            Welcolme {{ user.username }}, this is where you can keep track of your comments and scores. <br >
            This site is celebrating Wes Anderson's work so tell us what you love.
        </p>
    </section>
</div>

<!--forms container-->
<div class="row align-items-center mb-4">
    <!--Score Form-->
    <div class="col-md-6 mb-4 mb-md-0">
        <div class="row">
            <section class="default-1 col-10 mx-auto rounded px-1 py-4">
                <!-- heading -->
                <div class="d-flex justify-content fit-content rounded bg-white mx-auto py-2">
                    <img class="icon mx-2" src="{% static 'images/rating.png' %}" alt="An icon of a thumbs up and stars"
                        width="10" height="10">
                    <h2 class="fs-4 text-center">Add Rating</h2>
                    <img class="icon mx-2" src="{% static 'images/rating.png' %}"
                        alt="Another icon of a thumbs up and stars" width="10" height="10">
                </div>
                <!-- content -->
                <p class="p-4 text-center bg-white w-75 rounded mx-auto my-2">
                    Please add ratings for each film. <br>
                    All Wes Anderson films are great but this lets you rate your favorite aspects of his work.
                </p>
                <!-- form -->
                <form method="post" action="add_score" class="score-form mx-auto px-2 pt-2">
                    {{ score_form | crispy }}
                    {% csrf_token %}
                    <button class="fit-content fit-content-height icon-button border-0 rounded p-0 bg-white mx-2 mt-4"
                        aria-label="Add score">
                        <img class="icon-button" src="{% static 'images/thumbs.png' %}" alt="Thumbs up symbol" width="10"
                            height="10">
                    </button>
                </form>
            </section>
        </div>
    </div>
    <!--Comment Form-->
    <div class="col-md-6">
        <div class="row">
            <section class="default-2 col-10 mx-auto rounded px-1 py-4">
                <!-- heading -->
                <div class="d-flex justify-content fit-content rounded bg-white mx-auto py-2">
                    <img class="icon mx-2" src="{% static 'images/writing.png' %}" alt="An icon of a letter" width="10"
                        height="10">
                    <h2 id="add-update-comment" class="fs-4 text-center">Add Comment</h2>
                    <img class="icon mx-2" src="{% static 'images/writing.png' %}" alt="Another icon of a letter" width="10"
                        height="10">
                </div>
                <!-- content -->
                <p id="comment-form-info" class="p-4 text-center bg-white w-75 rounded mx-auto my-2">
                    Add your comments for each film here. <br>
                </p>
                <!-- form -->
                <form method="post" action="add_comment" id="comment-form-id" class="mx-auto px-2 pt-2">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" id="subcom" class="sign-button fit-content fit-content-height border-0 rounded p-1 bg-white mx-2 mt-4"
                        aria-label="Add comment">
                        Submit
                    </button>
                </form>
            </section>
        </div>
    </div>
</div>
<!-- Each Film -->
{% for movie in films %}
<div class="container my-5 d-flex flex-column align-items-center">
    <!-- Heading -->
    <div class="py-1 px-1 d-flex rounded bg-white fit-content mb-4">
        <img class="icon mx-2" {% if "placeholder" in movie.first_icon.url %} src="{% static 'images/bandit.png' %}"
            alt="Icon of a bandit hat " width="10" height="10" {% endif %} src="{{ movie.first_icon.url }}"
            alt="First icon of {{ movie.title }}" width="10" height="10" >
        <h2 class="m-0 text-decoration-underline text-center">{{ movie.title }}</h2>
        <img class="icon mx-2" {% if "placeholder" in movie.second_icon.url %} src="{% static 'images/backpack.png' %}"
            alt="Icon of a backpack " width="10" height="10" {% endif %} src="{{ movie.second_icon.url }}"
            alt="Second icon of {{ movie.title }}" width="10" height="10" >
    </div>
    
    <!-- comments -->
    <div class="container-fluid row align-items-center w-100 p-0 m-0">

        <!-- comments -->
        <div class="col-lg-10 p-0 m-0">
            <div
                class="scroll-container rounded scroll-container-default scroll-container-{{ movie.color_class }} snaps-inline full-width-snap">
                <!-- infomation -->
                <figure class="default-2 {{ movie.color_class }}-2">
                    <div class="rounded d-flex mx-auto figure-heading">
                        <img class="small-icon mx-2" src="{% static 'images/arrows.png' %}" alt="Arrows"
                            width="10" height="10" >
                        <p class="pt-1 text-center m-0 text-decoration-underline">Scroll</p>
                        <img class="small-icon mx-2" src="{% static 'images/arrows.png' %}" alt="Another icon of arrows"
                            width="10" height="10" >
                    </div>
                    <p class="info-comment">
                        This is where  all your comments and your rating (if you have made one yet) for {{ movie.title }} will be displayed.<br> Please scroll to view.
                    </p>
                </figure>
                {% for score in all_scores %}
                {% if score.movie == movie %}
                <!-- Rating -->
                <figure class="default-2 {{ movie.color_class }}-1">
                    <div class="rounded d-flex mx-auto figure-heading">
                        <img class="small-icon mx-2" src="{% static 'images/abacus.png' %}" alt="An abacus" width="10" height="10">
                        <p class="pt-1 text-center m-0 text-decoration-underline">Your Rating</p>
                        <img class="small-icon mx-2" src="{% static 'images/abacus.png' %}" alt="Another icon of an abacus" width="10"
                            height="10">
                    </div>
                    <div class="info-comment w-100">
                        <div class="d-flex p-2">
                            <img class="icon pe-2" src="{% static 'images/style.png' %}" alt="Icon of a tuxedo" width="10" height="10">
                            <p class="pt-2">STYLE: {{ score.style }}/5</p>
                        </div>
                        <div class="d-flex p-2">
                            <img class="icon pe-2" src="{% static 'images/humour.png' %}" alt="Icon of comedy masks" width="10" height="10">
                            <p>HUMOUR: {{ score.humour }}/5</p>
                        </div>
                        <div class="d-flex p-2">
                            <img class="icon pe-2" src="{% static 'images/story.png' %}" alt="Icon of a book" width="10" height="10">
                            <p>STORY: {{ score.story }}/5</p>
                        </div>
                    </div>
                    <a href="delete_score/{{ score.id }}"
                        class="fit-content fit-content-height icon-button bg-white border-0 rounded p-0"><img
                            class="icon-button" src="{% static 'images/bin.png' %}" alt="Rubbish Bin" width="10" height="10"></a>
                </figure>
                {% endif %}
                {% endfor %}
                <!-- for each movie comment -->
                {% for comment in all_comments %}
                {% if comment.film == movie %}
                <figure class="default-1 {{ movie.color_class }}-1">
                    {% if not comment.approved %}
                    <div class="rounded text-muted figure-heading">
                        **Pending Approval**
                    </div>
                    {% else %}
                    <div class="rounded figure-heading">
                        {{ comment.name }}
                    </div>
                    {% endif %}
                    <blockquote id="comment{{ comment.id }}" class="{% if not comment.approved %} text-muted {% endif %}">
                        {{ comment.content }}
                    </blockquote>

                    <!-- delete and edit buttons -->
                    <div class="d-flex">
                        <button class="btn-delete fit-content fit-content-height icon-button bg-white border-0 rounded p-0"
                            value="{{ comment.id }}" name="{{ movie.slug }}" aria-label="Press to open delete confirm window">
                            <img class="icon-button" src="{% static 'images/bin.png' %}" alt="Rubbish Bin" width="10" height="10">
                        </button>
                        <button class="btn-edit fit-content fit-content-height ms-4 icon-button border-0 rounded p-0"
                            value="{{ comment.id }}" name="{{ movie.slug }}" aria-label="Edit comment">
                            <img class="icon-button" src="{% static 'images/pencil.png' %}" alt="Pencil" width="10" height="10">
                        </button>
                    </div>
                </figure>
                {% endif %}
                {% endfor %}
                <!-- notes -->
                <figure class="default-1 {{ movie.color_class }}-1">
                    <div class="rounded mx-auto text-decoration-underline figure-heading">
                       "Notes"
                    </div>
                    <p class="info-comment">
                        After approval your comments will be able to be seen in <a class="normal-link"
                            href="{% url 'film_detail' movie.slug %}"> {{movie.title}} </a>'s
                        detail page.<br> Thank you for contributing to the website.
                    </p>
                </figure>
                <!-- Appendix-->
                <figure class="default-1 {{ movie.color_class }}-2">
                    <div class="rounded mx-auto text-decoration-underline figure-heading">
                        "Appendix"
                    </div>
                    <p class="info-comment">
                        You can add as many comments as you like. You can also delete or edit them at any time.<br>
                        You can only add one rating but can delete it at any time.
                    </p>
                </figure>
            </div>
        </div>
    </div>

</div>
{% endfor %}

<!-- Delete confirm modal learnt from CI blog walkthrough-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment? This cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="me-2 btn border border-dark normal-link" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="me-2 btn border border-dark normal-link btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'js/comments.js' %}"></script>{% endblock script %}