{% extends 'base.html' %}
{% load static %}
{% block title %} Member-Area {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}


<!-- About section -->
<div class="row my-5">
    <section class="col-10 col-md-8 col-lg-6 mx-auto bg-white rounded pt-4">
        <!-- Heading -->
        <div class="d-flex justify-content-around">
            <img class="icon mx-2" src="{% static 'images/member.png' %}"
                alt="A small icon of a cross keys member medal" width="10" height="10" />
            <h2 class="text-decoration-underline">'About'</h2>
            <img class="icon mx-2" src="{% static 'images/member.png' %}"
                alt="Another icon of a cross keys member medal" width="10" height="10" />
        </div>
        <!-- Content -->
        <p class="p-4 text-center">
            Welcolme {{ user.username }}, this is your area where you can keep track of your comments and scores. <br />
            This site is celebrating Wes Anderson's work so tell us what you love about each film or maybe a favorite
            part. <br />
        </p>
    </section>
</div>

<!-- Each Film -->
{% for movie in films %}
<div class="container my-4 d-flex flex-column align-items-center">
    <!-- Heading -->
    <div class="py-1 px-1 d-flex rounded bg-white fit-content mb-4">
        <img class="icon mx-2" {% if "placeholder" in movie.first_icon.url %} src="{% static 'images/bandit.png' %}"
            alt="Icon of a bandit hat " width="10" height="10" {% endif %} src="{{ movie.first_icon.url }}"
            alt="First icon of {{ movie.title }}" width="10" height="10" />
        <h2 class="m-0 text-decoration-underline text-center">{{ movie.title }}</h2>
        <img class="icon mx-2" {% if "placeholder" in movie.second_icon.url %} src="{% static 'images/backpack.png' %}"
            alt="Icon of a backpack " width="10" height="10" {% endif %} src="{{ movie.second_icon.url }}"
            alt="Second icon of {{ movie.title }}" width="10" height="10" />
    </div>
    
    <!-- comments and form -->
    <div class="container-fluid row align-items-center w-100 p-0 m-0">

        <!-- comments -->
        <div class="col-lg-6 p-0 m-0">
            <div id="full-width-snap"
                class="scroll-container rounded scroll-container-default scroll-container-{{ movie.color_class }} snaps-inline">
                <figure class="default-2 {{ movie.color_class }}-2">
                    <figurecaption class="rounded">
                        Works Of Wes Anderson
                    </figurecaption class="rounded">
                    <blockquote>
                        This is where your comments will be displayed. After approval they will be able to be seen in <a class="normal-link" href="{% url 'film_detail' movie.slug %}"> {{ movie.title}} </a>'s
                        detail page
                    </blockquote>
                </figure>
                {% for comment in all_comments %}
                {% if comment.film == movie %}
                <figure class="default-1 {{ movie.color_class }}-1">
                    {% if not comment.approved %}
                    <figurecaption class="rounded text-muted">
                        **Pending Approval**
                    </figurecaption class="rounded">
                    {% else %}
                    <figurecaption class="rounded">
                        {{ comment.name }}
                    </figurecaption class="rounded">
                    {% endif %}
                    <blockquote class="{% if not comment.approved %} text-muted {% endif %}">
                        {{ comment.content }}
                    </blockquote>

                    <!-- delete and edit buttons -->
                    <div class="d-flex">
                        <a class="fit-content fit-content-height icon-button bg-white border-0 rounded p-0" href="delete_comment/{{ movie.slug }}/{{ comment.id }}" aria-label="Delete comment">
                            <img class="icon" src="{% static 'images/bin.png' %}" alt="Rubbish Bin" width="10" height="10">
                        </a>
                        <button class="fit-content fit-content-height ms-4 icon-button border-0 rounded p-0" aria-label="Edit comment">
                            <img class="icon" src="{% static 'images/pencil.png' %}" alt="Pencil" width="10" height="10">
                        </button>
                    </div>
                </figure>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- comment form for each film -->
        <div class="col-lg-6 p-0 m-0">
        
            <form method="post" action="add_comment/{{ movie.slug }}" class="my-4 mx-2 comment-form">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="mt-2 sign-button bg-white p-1 rounded border border-dark text-dark">Submit</button>
            </form>
        
        </div>

    </div>
</div>
{% endfor %}

{% endblock content %}